{{> header}}

<div id="branchVue">
    <div class="row" style="margin-top:2rem;">
        <div class="col-sm-4" style="text-align:center;">
            <input type="text" v-model="branchTitle" placeholder="Branch New Title"/>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <button v-bind:disabled="showButton" type="submit" class="btn btn-sm btn-outline-primary" v-on:click="startTask('createBranch')">Create branch</button>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <button v-bind:disabled="showButton" type="submit" class="btn btn-sm btn-outline-primary" v-on:click="startTask('checkoutBranch')">Checkout branch</button>
        </div>
    </div>
    <div class="progress-style">
        <div class="progress">
            <div class="progress-bar" role="progressbar" v-bind:style="{width: progress + '%' }">
                [[Math.round(progress)]]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="projects">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Select All <input id="selectAll" type="checkbox" v-model="selectAll"></th>
                            <th>Module</th>
                            <th>Version</th>
                            <th>Current branch</th>
                            <th>Status</th>
                            <th>Result</th>
                        </tr>
                        </thead>
                        <tbody>
<!--
results	[ {…}, {…} ]
    0	Object { status: "SUCCESS", data: {…}, result: "" }
            status	"SUCCESS"
            data	Object { disable: true, branchName: "2.x", repository: {…}, … }
            repository	Object { name: "bootique-di", url: "https://github.com/bootique/bootique-di", milestones: […] }
            rootModule	Object { group: "io.bootique.di", githubId: "bootique-di-parent", version: "3.0-SNAPSHOT", … }
            disable	true
            dependencies	[]
            branchName	"2.x"
            result	""
    1	Object { status: "SUCCESS", data: {…}, result: "" }
            status
-->
                        <tr v-for="module in allItems.data">
                            <td><input type="checkbox" v-bind:id="module.repository.name" v-bind:value="module.repository.name"  v-model.lazy="selectedModules"></td>
                            <td><label v-bind:for="module.repository.name"><a v-bind:href="module.repository.url" target="_blank">[[module.repository.name]]</a></label></td>
                            <td>[[module.rootModule.version]]</td>
                            <td>[[module.branchName]]</td>
                            <td>
                                [[statusMap.get(module)]]
                            </td>
                            <td>
                                <button v-if="errorMap.get(module)" class="btn btn-sm btn-outline-primary btn-verify-results" data-toggle="modal" :data-target="'.verify-result-' + module.rootModule.githubId">
                                    <i class="far fa-eye"></i>
                                </button>
                                <div v-bind:class="'modal fade verify-result-' + module.rootModule.githubId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content p-2 m-2">
                                            <pre><code>[[errorMap.get(module)]]</code></pre>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p style="text-align:center">[[errorMessage]]</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="progress-style">
    <div id="bar" class="indeterminate-progress-bar active">
        <div class="progress-block single-segment"></div>
    </div>
</div>

<script type="module">
    initBranchView();
</script>

{{> footer}}