</div>
<div class="col-lg-2">
</div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="validation-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                                <h5 class="modal-title">POM validating</h5>
                <button
                        type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validation-content" class="modal-body">
                <p style="padding:10px; font-weight:500; white-space: pre-line;  "   ></p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


</body>
</html>