{{> header}}

<div class="progress-style">
    <div id="bar" class="indeterminate-progress-bar active">
        <div class="progress-block single-segment"></div>
    </div>
</div>
<div id="mavenVue">
    <div class="table-responsive" style="margin-top:2rem;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Project</th>
                <th>Version</th>
                <th>Dependencies</th>
            </tr>
            </thead>
            <tbody>

                <tr v-for="project in allItems.data">
                    <td>[[project.repository.name]]</td>
                    <td>[[project.rootModule.version]]</td>
                    <td>
                        <ul>
                            <li v-for="dependency in project.rootModule.dependencies">
                                [[dependency.module.id]]
                            </li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="buttons-block">
            <button type="submit" class="btn btn-sm btn-outline-primary" v-bind:disabled="verifyButton" v-on:click="verify()">verify</button>
    </div>

    <div class="verify-process" v-if="showProcess" style="margin-bottom:2rem;">
        <div class="progress-style">
            <div class="progress">
                <div class="progress-bar" role="progressbar" v-bind:style="{width: progress + '%' }">
                    [[Math.round(progress)]]
                </div>
            </div>
        </div>
        <div class="table-pull-style">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Status</th>
                        <th>Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for="status in statusArr">
                        <td>[[status.data.name]]</td>
                        <td>[[status.status]]</td>
                        <td>
                            <button v-if="status.result" class="btn btn-sm btn-outline-primary btn-verify-results" data-toggle="modal" :data-target="'.verify-result-' + status.data.name">
                                <i class="far fa-eye"></i>
                            </button>
                            <div v-bind:class="'modal fade verify-result-' + status.data.name" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content p-2 m-2">
                                        <pre><code>[[status.result]]</code></pre>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="module">
    initMavenVue();
</script>

{{> footer}}