{{> header}}
<div id="prVue">
    <div class="progress-style">
        <div id="bar" class="indeterminate-progress-bar active">
            <div class="progress-block single-segment"></div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><a v-on:click="sortAndFilter(null, 'title')" href="#">Title</a></th>
                <th><a v-on:click="sortAndFilter(null, 'author')" href="#">Author</a></th>
                <th><a v-on:click="sortAndFilter(null, 'date:desc')" href="#">Created</a></th>
                <th><a v-on:click="sortAndFilter(null, 'labels')" href="#">Labels</a></th>
                <th><a v-on:click="sortAndFilter(null, 'repo')" href="#">Repository</a></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="pr in allPrs">
                    <td>
                        <a :href="pr.url" target="_blank">[[pr.title]]</a>
                        <a :href="pr.url" target="_blank" class="badge badge-secondary">#[[pr.number]]</a>
                    </td>
                    <td><a v-on:click="sortAndFilter('a:' + pr.author.login, null)" href="#">[[pr.author.login]]</a></td>
                    <td>[[pr.createdAtStr]]</td>
                    <td>
                        <a v-for="label in pr.labels.nodes" v-on:click="sortAndFilter('l:' + label.name, null)" href="#" class="badge" :style="'color: white; text-decoration: none; background-color: #' + label.color">[[label.name]]</a>&nbsp;
                    </td>
                    <td>
                        <a v-on:click="sortAndFilter('r:' + pr.repoName, null)" href="#">[[pr.repoName]]</a>
                        <a v-if="pr.parent !== null" :href="pr.parent.url" target="_blank" class="badge badge-secondary">parent</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="module">
    import { initPrVue } from '/js/functions.js?12';
    initPrVue('{{filter}}', '{{sort}}');
</script>
{{> footer}}