{{> header}}

<div class="progress-style">
    <div id="bar" class="indeterminate-progress-bar active">
        <div class="progress-block single-segment"></div>
    </div>
</div>

<div id="prVue">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><a v-on:click="sortAndFilter('title', null, null)" href="#">Title</a></th>
                <th><a v-on:click="sortAndFilter('author.login', null, null)" href="#">Author</a></th>
                <th><a v-on:click="sortAndFilter('createdAt', null, null)" href="#">Created</a></th>
                <th><a v-on:click="sortAndFilter('labels', null, null)" href="#">Labels</a></th>
                <th><a v-on:click="sortAndFilter('repository.name', null, null)" href="#">Repository</a></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="pr in allItems.data">
                    <td>
                        <a :href="pr.url" target="_blank">[[pr.title]]</a>
                        <a :href="pr.url" target="_blank" class="badge badge-secondary">#[[pr.number]]</a>
                    </td>
                    <td><a v-on:click="sortAndFilter(null, 'author.login', pr.author.login)" href="#">[[pr.author.login]]</a></td>
                    <td>[[pr.createdAtStr]]</td>
                    <td>
                        <a v-for="label in pr.labels" v-on:click="sortAndFilter(null, 'labels.name', label.name)" href="#" class="badge" :style="'color: white; text-decoration: none; background-color: #' + label.color">[[label.name]]</a>&nbsp;
                    </td>
                    <td>
                        <a v-on:click="sortAndFilter(null, 'pr.repoName', pr.repoName)" href="#">[[pr.repoName]]</a>
                        <a v-if="pr.repository.parent !== null" :href="pr.repository.parent.url" target="_blank" class="badge badge-secondary">parent</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="module">
    initPrVue('{{sort}}', '{{filter}}', '{{field}}');
</script>
{{> footer}}