{{> header}}

<div id="toolCheckVue">
    <div class="row">
        <div class="col-sm-12">
            <pre>{{javaVersion}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <pre>{{mavenVersion}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <pre>{{jdk}}</pre>
        </div>
    </div>
</div>

{{> footer}}