<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="multiAppender" class="io.bootique.tools.release.service.logger.MultiAppender">
        <param name="Append" value="false" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="multiAppender"/>
    </root>

    <logger name="io.bootique.jersey.client.instrumented.ClientTimingFilter" level="OFF"/>
</configuration>