
<div class="progress-style">
    <div class="progress">
        <div class="progress-bar" role="progressbar" v-bind:style="{width: progress + '%' }">
            [[Math.round(progress)]]
        </div>
    </div>
</div>
<div class="table-pull-style">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Repository</th>
                <th>Status</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="status in statusArr">
                <td>[[status.data.name]]</td>
                <td>[[status.status]]</td>
                <td>
                    <button v-if="status.result" class="btn btn-sm btn-outline-primary btn-verify-results" data-toggle="modal" :data-target="'.verify-result-' + status.data.name">
                        <i class="far fa-eye"></i>
                    </button>
                    <div v-bind:class="'modal fade verify-result-' + status.data.name" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content p-2 m-2">
                                <pre><code>[[status.result]]</code></pre>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>