jetty:
  staticResourceBase: "classpath:static"
  connectors:
  - host: 127.0.0.1
    port: 9999

jersey:
  urlPattern: "/ui/*"

mvc:
  templateBase: "classpath:"

log:
  appenders:
    - type: console
      name: STDOUT
      target: stderr
      logFormat: '%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n'
      filters:
        - type: threshold
          level: info

    - type: file
      name: FILE
      logFormat: '%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n'
      file: logs.log
      append: false

    - type: custom
      name: multiAppender
      className: io.bootique.tools.release.service.logger.MultiAppender

  appenderRefs:
    - STDOUT
    - FILE

  loggers:
    org.apache.cayenne.log.JdbcEventLogger:
      level: warn

    io.bootique.jersey.client.instrumented.ClientTimingFilter:
      level: error

    io.bootique.tools.release.service.desktop.DesktopService:
      level: trace
      appenderRefs:
        - multiAppender
        - FILE

    io.bootique.tools.release.service.tasks.ReleaseInstallTask:
      level: error
      appenderRefs:
        - multiAppender
        - FILE

preferences:
  organizationName: bootique
  organizationGroupId: io.bootique
  groupIdPattern: io.bootique

jerseyclient:
  targets:
    mvncentral:
      url: "http://search.maven.org"
    github:
      url: "https://api.github.com"

scheduler:
  threadPoolSize: 3
  triggers:
  - job: githubdataimport
    initialDelay: 300ms
    fixedDelay: 30min
  - job: mavenprojectsimport
    initialDelay: 1min
    fixedDelay: 4min